html,
body {
  padding: 8px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: calc(100vw - 16px);
}

body > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 16px);
}

@media (hover: none) {
  html,
  body {
    width: 100%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    padding: 6px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.block {
  display: block !important;
}

.figo {
  opacity: 0;
  transition: opacity 100ms ease-in-out 500ms;
}

.figo.show {
  opacity: 1;
  transition: opacity 100ms ease-in-out 0ms;
}

.space-right {
  margin-right: 16px;
}

.space-below {
  margin-bottom: 16px;
}

.arwes-frame__structure {
  pointer-events: none;
}

[type="search"] {
  appearance: none !important;
}

header {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto 48px;
}

@media (max-width: 600px) {
  header {
    margin-bottom: 24px;
  }
}

