.home-topic {
  max-width: 1180px;
  margin: 0 auto 32px;
  text-align: center;
}

.home-topic > .images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-topic .images > a {
  display: inline-block;
  margin: 16px 40px;
}

.home-topic .images > a > img {
  height: 80px;
}

.home-topic .images > span {
  font-size: 48px;
  font-weight: bold;
  margin-right: 12px;
}

.movies {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
}

.movies-frame,
.movies-frame > .arwes-frame {
  padding: 0 !important;
}

.movies-frame > .arwes-frame > .arwes-frame__structure > svg > g > g > path {
  fill: transparent;
}

.movies-frame .movies {
  padding: 16px;
}

.movie-card {
  flex: 0 0 200px;
  max-width: 200px;
  padding: 8px 16px;
  font-size: 0;
  cursor: pointer;
  position: relative;
}

.movie-card.border:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 10%;
  transform: translateY(-50%);
  border-right: 1px solid #00f8f8aa;
  transition: height 300ms ease-in-out;
}

.movie-card.border.show:not(:last-child)::after {
  height: 95%;
  transition: height 300ms ease-in-out;
}

.movie-card .arwes-frame {
  padding: 0 !important;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.movie-card .arwes-frame__structure {
  z-index: 1;
}

.movie-card .arwes-frame__structure svg > g > g {
  display: none;
}

.movie-card .arwes-frame__content {
  padding: 0;
}

.movie-card .movie-card-details {
  padding: 8px;
}

.movie-card .movie-card-details > span,
.movie-card .movie-card-details > div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.movie-card .movie-name {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
}

.movie-card .movie-name span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
  font-size: 18px;
}

.movie-card img {
  width: 200px;
  height: 285px;
  object-fit: cover;
  background-color: #00f8f855;
}

.movie-card .movie-card-details .rating-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.movie-card .stars {
  margin-right: 8px;
}

.movie-card .stars > span {
  margin-right: 2px;
}

.movie-card .rating {
  font-size: 10px;
  font-weight: bold;
}

.movie-card .release-date {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}

.cards-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 32px;
}

.cards-section .section-name {
  display: flex;
  align-items: center;
  margin-right: 16px;
  min-width: 164px;
  max-width: 164px;
  text-align: center;
}

.cards-section .section-name .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
}

.cards-section .section-name .arwes-frame {
  height: 430px;
}

.cards-section .section-content {
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 1210px) {
  .cards-section {
    flex-direction: column;
  }
  .cards-section .section-name {
    margin-right: 0;
    margin-bottom: 16px;
    min-width: 0;
    max-width: 1000px;
    width: 100%;
  }
  .cards-section .section-name .arwes-frame,
  .cards-section .section-name .frame {
    height: 100%;
    width: 100%;
  }
}
