.movie-page {
  max-width: 1180px;
  margin: auto;
}

.movie-page .movie-details {
  display: flex;
}

.movie-page .image {
  margin-right: 32px;
  margin-top: 12px;
}

.movie-page .movie-details .right-section {
  flex: 1;
}

.movie-page .movie-details .right-section .movie-name {
  font-size: 36px;
}

.movie-page .movie-name .year {
  font-weight: normal;
  font-size: 28px;
  opacity: 0.8;
}

.movie-page .movie-date {
  font-weight: bold;
}

.movie-page .movie-date .arwes-text {
  margin-right: 32px;
}

.movie-page .status {
  border: 1px solid #00f8f8;
  box-shadow: 0 0 4px #00f8f8aa, 0 0 4px #00f8f8aa inset;
  padding: 2px 8px;
  text-transform: uppercase;
}

.movie-page .rating-container {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.movie-page .stars > span {
  margin-right: 2px;
}

.movie-page .rating {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.movie-page .tagline {
  font-style: italic;
}

.movie-page .sub-heading {
  margin-bottom: 8px;
  border-bottom: 1px solid #00f8f855;
  padding-bottom: 4px;
}

.movie-page .crew {
  display: flex;
}

.movie-page .crew-member {
  flex: 1;
  max-width: 200px;
}

.movie-page .crew-member label {
  display: block;
  font-size: 12px;
  opacity: 0.8;
}

.movie-page .crew-member p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.movie-page .detail-block {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.movie-page .detail-block .arwes-text {
  margin: 8px;
}

.movie-page .cast {
  margin-top: 32px;
}

.movie-page .cast-list {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 0;
}

.movie-page .cast-list .actor-card {
  flex: 0 0 140px;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
}

.review.border:not(:last-child)::after,
.actor-card.border:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 10%;
  transform: translateY(-50%);
  border-right: 1px solid #00f8f8aa;
  transition: height 300ms ease-in-out;
}

.review.border.show:not(:last-child)::after,
.actor-card.border.show:not(:last-child)::after {
  height: 90%;
  transition: height 300ms ease-in-out;
}

.movie-page .cast-list .actor-card img {
  height: 130px;
  object-fit: cover;
  width: 100%;
  border: 1px solid #00f8f855;
}

.movie-page .cast-list .actor-card .arwes-frame {
  padding: 0 !important;
  height: 100%;
  max-width: 100%;
}

.movie-page .cast-list .actor-card .arwes-frame__structure {
  z-index: 1;
}

.movie-page .cast-list .actor-card .arwes-frame__structure svg > g > g {
  display: none;
}

.movie-page .cast-list .actor-card .arwes-frame__content {
  padding: 0;
}

.movie-page .actor-details {
  padding: 8px;
}

.movie-page .actor-details .name {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
  color: rgb(255, 167, 108);
}

.movie-page .actor-details .character {
  margin-bottom: 0;
  font-size: 12px;
}

.movie-page .reviews-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 16px;
  margin-top: 8px;
}

.movie-page .reviews-list .review {
  flex: 1 0 300px;
  position: relative;
  padding: 0 16px;
}

.movie-page .reviews-list .review .arwes-frame {
  height: 100%;
  width: 100%;
  word-break: break-word;
}

.movie-page .reviews-list .review p {
  margin: 0;
}

.movie-page .reviews-list .review .name {
  font-size: 20px;
  font-weight: bold;
}

.movie-page .reviews-list .review .time {
  font-size: 12px;
  margin-bottom: 16px;
}

.movie-page .season-name {
  font-weight: bold;
  font-size: 24px;
}

.movie-page .seasons-content {
  padding: 16px;
}

.movie-page .seasons-content button svg > g > g > path {
  opacity: 0.1 !important;
}

.movie-page .episodes {
  margin-top: 24px;
}

.movie-page .episodes .episode {
  padding: 16px 0;
  position: relative;
  display: flex;
  cursor: pointer;
}

.movie-page .episodes .episode.border:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10%;
  transform: translateX(-50%);
  border-bottom: 1px solid #00f8f8aa;
  transition: width 300ms ease-in-out;
}

.movie-page .episodes .episode.border.show:not(:last-child)::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

.movie-page .episodes .episode img {
  flex: 0 0 100px;
  height: 56px;
  object-fit: cover;
  margin-right: 16px;
  background-color: #00f8f855;
}

.movie-page .episodes .episode .episode-name {
  font-size: 20px;
  font-weight: bold;
}

.movie-page .episodes .episode .arwes-frame {
  width: 100%;
}

.loading-block {
  height: 400px;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;
  text-align: center;
}

.loading-block.bordered {
  border: 1px solid #00f8f8;
  box-shadow: 0 0 4px #00f8f8aa, 0 0 4px #00f8f8aa inset;
}

.movie-page .work-list {
  position: relative;
}

.movie-page .work-list::before {
  content: "";
  position: absolute;
  left: 90px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #00f8f8;
  z-index: -1;
}

.movie-page .work {
  padding: 16px 16px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.movie-page .work-section {
  padding-bottom: 8px;
}

.movie-page .work .work-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.movie-page .work .year {
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  margin-right: 16px;
}

.movie-page .work .work-type {
  margin-right: 8px;
  font-size: 10px;
  display: inline-block;
  padding: 2px 4px;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #00f8f8;
  background-color: #021114;
}

.movie-page .work .work-name {
  font-weight: bold;
  word-break: break-word;
  display: inline !important;
}

.movie-page .work .as {
  font-size: 14px;
  margin: 0 8px;
}

.episode-page .image {
  width: 285px;
  min-height: 200px;
  max-height: 200px;
}

.episode-page .image .arwes-frame__content img.show {
  height: 200px;
}

.image-list,
.video-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 16px;
}

.image-list .image-container,
.video-list .video-container {
  padding: 0 8px;
  position: relative;
}

.image-list .image-container:first-child,
.video-list .video-container:first-child {
  padding-left: 0;
}

.image-list .image-container:last-child,
.video-list .video-container:last-child {
  padding-right: 0;
}

.image-list img, .video-list img {
  max-height: 200px;
  max-width: 80vw;
}

.image-list img:first-child,
.video-list img:first-child {
  border: 1px solid #00f8f855;
}

.image-list img:last-child:not(:first-child) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 42px;
  opacity: 0.8;
}

.person-image-container {
  padding: 8px 16px;
}

@media (max-width: 768px) {
  .movie-page .movie-details {
    flex-direction: column;
    align-items: center;
  }
  .movie-page .image {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .movie-page .movie-details .right-section .movie-name {
    text-align: center;
    line-height: 1;
    margin-bottom: 24px;
  }
  .movie-page .detail-block {
    display: flex;
    justify-content: space-evenly;
  }
  .movie-page .detail-block .arwes-text {
    text-align: center;
    margin-right: 0;
    white-space: nowrap;
  }
  .movie-page .rating-container {
    justify-content: center;
  }
  .movie-page .episodes .episode {
    flex-direction: column;
    padding: 24px 0;
  }
  .movie-page .episodes .episode img {
    margin-bottom: 8px;
    margin-right: 0;
    height: auto;
  }
  .movie-page .episodes .episode img.no-image {
    display: none;
  }
  .image-container:first-child:last-child,
  .video-container:first-child:last-child {
    margin: auto;
  }
}
