.search-page {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  flex: 1;
}

.search-page h6 {
  width: 100%;
}

.search-page .search-input {
  margin-bottom: 48px;
}

.search-page .search-results .no-results {
  text-align: center;
}

.search-page .search-card {
  padding: 16px;
  position: relative;
  cursor: pointer;
}

.search-page .search-card.border:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10%;
  transform: translateX(-50%);
  border-bottom: 1px solid #00f8f8aa;
  transition: width 300ms ease-in-out;
}

.search-page .search-card.border.show:not(:last-child)::after {
  width: 90%;
  transition: width 300ms ease-in-out;
}

.search-page .search-card .search-content {
  display: flex;
}

.search-page .search-card .search-content img {
  width: 60px;
  height: 90px;
  margin-right: 16px;
  object-fit: cover;
  background-color: #00f8f8aa;
}

.search-page .search-card .search-content .right-section {
  flex: 1;
}

.search-page .search-card .right-section > span:not(:first-child) {
  margin-right: 16px;
}

.search-page .search-card .item-type {
  border: 1px solid #00f8f8;
  padding: 2px 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  margin-bottom: 8px;
  display: inline-block;
}

.search-page .search-card .rating-container {
  display: inline-block;
}

.search-page .search-card .rating-container .rating {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .search-page .search-card .search-content h6 {
    margin-bottom: 8px;
  }

  .search-page .search-card .rating-container {
    display: block;
  }
}

